<h1>Todo Lists</h1>
<% @task.each do |item| %>
<form action= '/<%=@user.name%>/delete/<%=item.id%>'>
  <input type='submit' value='Delete'>
</form>
  <%= item.description %>
  <% unless item.due_date.blank? %>
  <%= '- ' %>
  <%= item.due_date %>
<% end %>
<form action='/<%=@user.name%>' method='POST'>
  <strong>Insert a new task:</strong>
  <input type='text' name='task' placeholder='task content' />
  <input type='text' name='date' placeholder='due date' />
  <input type='submit' value='Save'>
</form>
<a href= '/'>Back</a>
